PORT=NUMERO_PUERTO
POSTGRES_URI=postgres://{usuario_postgres}:{contraseña_postgres}@localhost:5432/{db_name}
SECRET_KEY=PALABRA_CLAVE_SECRETA


# AUTH CREDENTIALS GMAIL

GMAIL_USER=GMAIL_DEL_GRUPO
GMAIL_PASSWORD=PASSWORD_THIRD_CONNECTIONS